In [0]:
guests = ['Christopher','Susan','Bill','Satya']
scores = [78,85,62,49,98]

Try storing similar values together: i.e. names, dates, ages etc. Keep one data type in a list!
You can create an empty list and store values later:

In [0]:
guests = []
scores = []

These variables represent empty lists or arrays.

Print the first guest. The first value is in position 0.

In [0]:
guests = ['Christopher','Susan','Bill','Satya']
print(guests[0])

Christopher

Counting is indexed as '0' for the first value or entry

In [0]:
scores = [78,85,49,98]

Print the fourth score

In [0]:
print(scores[3])

98

So the position of an item in a list or an array is called the 'index'.
Print the last entry in the list of names:

In [0]:
print(guests[-1])

Satya

Print the second last entry in a list

In [0]:
print(guests[-2])

Bill

Change the first value in the 'guests' list to 'Steve'

In [0]:
guests[0] = 'Steve'
print("The first value is now " + guests[0])

The first value is now Steve

The '.append' function / method will add a new value

In [0]:
guests.append('Steve')

Display the last value in the list

In [0]:
print(guests[-1])

Steve

Removing a value from a list:

In [0]:
guests.remove('Bill')
print(guests)

['Steve', 'Susan', 'Satya', 'Steve']

Delete the first item in the list. Instead of using '.delete' as a method, you use something called the 'del' command

In [0]:
del guests[0]
print(guests)

['Susan', 'Satya', 'Steve']

You can see the first entry which was the value of 'Steve' has now disappeared.

If you want to update a value:

In [0]:
guests[2] = 'Sonal'
print(guests)

['Susan', 'Satya', 'Sonal']